<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.servicesregistry.ui.internal.prefpage.SrPreferencePage"
            id="org.eclipse.servicesregistry.ui.internal.prefpage.SrPreferencePage"
            name="%Sr.PrefPage.Name">
      </page>
   </extension>

</plugin>
